*key*
*ipynb_checkpoints*
*lar*
*.parquet*
*SUCCESS*
*aws*
*variables.tf*
*.tfstate*
logs/*
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
*airflow-webserver*
*.pyc
*airflow_variables.json
*.env
